In [ ]:
# Dating Cleaning and Merging
# Anita Sun
# River Wang

In [12]:
import numpy as np
import geopandas as gpd
import pandas as pd
from preprocess import clean_police_dataset
import shapely
from shapely.geometry import point

In [51]:
gdf = gpd.read_file('illinois_shapefiles/tl_2023_17_tract.shp')

In [52]:
gdf.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,17,161,022800,17161022800,1400000US17161022800,228,Census Tract 228,G5020,S,2103943,0,+41.4991066,-090.5472913,"POLYGON ((-90.55724 41.49433, -90.55724 41.494..."
1,17,161,022900,17161022900,1400000US17161022900,229,Census Tract 229,G5020,S,1311568,0,+41.4897868,-090.5477824,"POLYGON ((-90.55731 41.49337, -90.55727 41.493..."
2,17,161,023000,17161023000,1400000US17161023000,230,Census Tract 230,G5020,S,4680875,127822,+41.4757633,-090.5435406,"POLYGON ((-90.55779 41.46279, -90.55772 41.463..."
3,17,161,023100,17161023100,1400000US17161023100,231,Census Tract 231,G5020,S,3496624,66115,+41.4684205,-090.5721252,"POLYGON ((-90.5826 41.46694, -90.5826 41.46714..."
4,17,019,010901,17019010901,1400000US17019010901,109.01,Census Tract 109.01,G5020,S,140475117,118829,+39.9889767,-088.2028522,"POLYGON ((-88.27831 39.88075, -88.27786 39.883..."

In [53]:
pol_df = clean_police_dataset('police_data.csv')

In [54]:
pol_df['latitude'].dtype

dtype('float64')

In [55]:
pol_df['geometry'] = gpd.points_from_xy(pol_df['longitude'], pol_df['latitude'])
pol_gdf = gpd.GeoDataFrame(pol_df, geometry='geometry', crs="EPSG:4326")

In [56]:
pol_gdf.head()

,name,age,gender,race,date,street_address,city,state,zip,county,...,pop_native_american_census_tract,pop_asian_census_tract,pop_pacific_islander_census_tract,pop_other_multiple_census_tract,pop_hispanic_census_tract,lat_long,month,day,year,geometry
0,Steven Espinoza,36.0,Male,Hispanic,2025-01-12,N Mountain Ave and 11th St,upland,CA,91786,San Bernardino,...,NaN,NaN,NaN,NaN,NaN,"(34.1033261, -117.6701864)",1,12,2025,POINT (-117.67019 34.10333)
1,Jose Evans,42.0,Male,Hispanic,2025-01-12,8500 block of Cermak Rd,north riverside,IL,60546,Cook,...,NaN,NaN,NaN,NaN,NaN,"(41.850411, -87.8351933)",1,12,2025,POINT (-87.83519 41.85041)
2,"Benjamin Prowell, Jr.",34.0,Male,Black,2025-01-11,10000 block of Crystal Hill Rd,maumelle,AR,72113,Pulaski,...,NaN,NaN,NaN,NaN,NaN,"(34.8185095, -92.3715459)",1,11,2025,POINT (-92.37155 34.81851)
3,Brian Rolstad,43.0,Male,Unknown race,2025-01-11,900 block of W 23rd St,los angeles,CA,90007,Los Angeles,...,NaN,NaN,NaN,NaN,NaN,"(34.0333907, -118.2800794)",1,11,2025,POINT (-118.28008 34.03339)
4,Devin Shields,23.0,Male,Unknown race,2025-01-11,2300 block of Waverly Dr,gary,IN,46404,Lake,...,NaN,NaN,NaN,NaN,NaN,"(41.5961595, -87.366104)",1,11,2025,POINT (-87.3661 41.59616)

In [61]:
geo_joined_df = gpd.sjoin(gdf.to_crs(crs='EPSG:26916'), pol_gdf.to_crs(crs='EPSG:26916'))

In [62]:
geo_joined_df.columns

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'GEOIDFQ', 'NAME',
       'NAMELSAD', 'MTFCC', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT',
       'INTPTLON', 'geometry', 'index_right', 'name', 'age', 'gender', 'race',
       'date', 'street_address', 'city', 'state', 'zip', 'county',
       'agency_responsible', 'ori', 'cause_of_death', 'circumstances',
       'disposition_official', 'officer_charged', 'news_urls',
       'signs_of_mental_illness', 'allegedly_armed', 'wapo_armed',
       'wapo_threat_level', 'wapo_flee', 'geography', 'encounter_type',
       'initial_reason', 'call_for_service', 'tract',
       'hhincome_median_census_tract', 'latitude', 'longitude',
       'pop_total_census_tract', 'pop_white_census_tract',
       'pop_black_census_tract', 'pop_native_american_census_tract',
       'pop_asian_census_tract', 'pop_pacific_islander_census_tract',
       'pop_other_multiple_census_tract', 'pop_hispanic_census_tract',
       'lat_long', 'month', 'day', 'year'],
      dtype='object')

In [63]:
geo_joined_df = geo_joined_df[['GEOIDFQ','name', 'age', 'gender', 'race',
       'date', 'street_address', 'city', 'state', 'zip', 'county',
       'agency_responsible', 'ori', 'cause_of_death', 'circumstances',
       'disposition_official', 'officer_charged', 'news_urls',
       'signs_of_mental_illness', 'allegedly_armed', 'wapo_armed',
       'wapo_threat_level', 'wapo_flee', 'geography', 'encounter_type',
       'initial_reason', 'call_for_service', 'tract',
       'hhincome_median_census_tract', 'latitude', 'longitude',
       'pop_total_census_tract', 'pop_white_census_tract',
       'pop_black_census_tract', 'pop_native_american_census_tract',
       'pop_asian_census_tract', 'pop_pacific_islander_census_tract',
       'pop_other_multiple_census_tract', 'pop_hispanic_census_tract',
       'lat_long', 'month', 'day', 'year']]

In [64]:
geo_joined_df.rename(columns={'GEOIDFQ': 'GEO_ID'}, inplace=True)

In [65]:
geo_joined_df.head()

,GEO_ID,name,age,gender,race,date,street_address,city,state,zip,...,pop_black_census_tract,pop_native_american_census_tract,pop_asian_census_tract,pop_pacific_islander_census_tract,pop_other_multiple_census_tract,pop_hispanic_census_tract,lat_long,month,day,year
7,1400000US17019010702,Randy Allen Jackson,39.0,Male,Black,2023-07-04,2200 County Road 2250 East,st joseph,IL,61873,...,2%,0%,2%,0%,0%,1%,"(40.0871982, -88.0334101)",7,4,2023
12,1400000US17199021001,Joshua Green,27.0,Male,White,2015-04-28,1408 W Main St,marion,IL,62959,...,11%,0%,2%,0%,3%,3%,"(37.731275, -88.941288)",4,28,2015
18,1400000US17119403531,Kody C. Waters,31.0,Male,Unknown race,2021-05-22,819 Edwardsville Rd.,troy,IL,62294,...,1%,0%,2%,0%,2%,5%,"(38.732431, -89.904604)",5,22,2021
23,1400000US17119400951,Kyeiree V. Myers,28.0,Male,Black,2023-08-23,Highway 162 at Mockingbird Lane,granite city,IL,62040,...,2%,0%,2%,0%,5%,3%,"(38.7087957, -90.0942946)",8,23,2023
31,1400000US17119403403,Kevin C. Steinhauer,45.0,Male,White,2022-03-02,100 block of Arnold Street,collinsville,IL,62234,...,21%,0%,2%,0%,2%,11%,"(38.66012, -90.02783)",3,2,2022

In [66]:
census_demo_df = pd.read_csv('merged_result.csv')

/tmp/ipykernel_177875/3180693781.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,182,183,184,185,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,216,217,218,219,220,221,222,223,224,225,226,227,228,230,231,232,233,236,238,239,240,241,244,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,306,307,308,309,310,311,312,313,314,315,316,317,318,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,352,354,355,356,357,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,476,477,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,520,521,522,523,526,527,528,529,532,533,534,535,538,539,540,541,544,545,546,547,550,551,552,553,598,599,600,601,602,603,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,776,777,778,779,782,783,784,785,788,789,790,791,794,795,796,797,800,801,802,803,854,855,856,857,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1032,1033,1034,1035,1038,1039,1040,1041,1044,1045,1046,1047,1050,1051,1052,1053,1056,1057,1058,1059,1062,1063,1064,1065,1110,1111,1112,1113,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1206,1207,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1222,1223,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1256,1257,1258,1259,1260,1261,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1276,1277,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1292,1293,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1326,1327,1328,1329,1330,1331,1334,1335,1336,1337,1338,1339,1340,1341,1350,1351,1354,1355,1362,1363,1380,1381,1382,1383,1384,1385,1386,1387,1396,1397,1400,1401,1406,1407,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1534,1535,1542,1543,1546,1547,1560,1561,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652) have mixed types. Specify dtype option on import or set low_memory=False.
  census_demo_df = pd.read_csv('merged_result.csv')

In [67]:
census_demo_df= census_demo_df.drop(index=0, axis=0)

In [68]:
col_list = census_demo_df.columns

In [69]:
col_list = list(col_list[2:-1])

In [70]:
for col in col_list:
    try:
        census_demo_df[col] = census_demo_df[col].astype(float)
    except Exception as e:
        continue

In [71]:
census_demo_df.head()

,GEO_ID,NAME_demo,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,P1_063N,P1_064N,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N,Unnamed: 73
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",4607.0,407.0,2064.0,243.0,2543.0,300.0,81.2,12.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",2003.0,326.0,905.0,134.0,1098.0,267.0,82.4,21.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",2391.0,300.0,1143.0,184.0,1248.0,217.0,91.6,20.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",3314.0,545.0,1680.0,376.0,1634.0,333.0,102.8,28.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5,1400000US17001000500,"Census Tract 5, Adams County, Illinois",2154.0,350.0,992.0,181.0,1162.0,211.0,85.4,14.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [74]:
geo_joined_df['GEO_ID'].dtype

dtype('O')

In [79]:
df_illinois_merged = pd.merge(geo_joined_df, census_demo_df, on='GEO_ID')

In [80]:
df_illinois_merged.head()

,GEO_ID,name,age,gender,race,date,street_address,city,state,zip,...,P1_063N,P1_064N,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N,Unnamed: 73
0,1400000US17019010702,Randy Allen Jackson,39.0,Male,Black,2023-07-04,2200 County Road 2250 East,st joseph,IL,61873,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1400000US17199021001,Joshua Green,27.0,Male,White,2015-04-28,1408 W Main St,marion,IL,62959,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1400000US17119403531,Kody C. Waters,31.0,Male,Unknown race,2021-05-22,819 Edwardsville Rd.,troy,IL,62294,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1400000US17119400951,Kyeiree V. Myers,28.0,Male,Black,2023-08-23,Highway 162 at Mockingbird Lane,granite city,IL,62040,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1400000US17119403403,Kevin C. Steinhauer,45.0,Male,White,2022-03-02,100 block of Arnold Street,collinsville,IL,62234,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [81]:
df_illinois_merged.to_csv('merged_data_illinois.csv')

In [82]:
ny_gdf = gpd.read_file('new_york_shapefiles/tl_2023_36_tract.shp')

In [83]:
ny_joined_df = gpd.sjoin(ny_gdf.to_crs(crs='EPSG:26916'), pol_gdf.to_crs(crs='EPSG:26916'))

In [85]:
ny_joined_df = ny_joined_df[['GEOIDFQ','name', 'age', 'gender', 'race',
       'date', 'street_address', 'city', 'state', 'zip', 'county',
       'agency_responsible', 'ori', 'cause_of_death', 'circumstances',
       'disposition_official', 'officer_charged', 'news_urls',
       'signs_of_mental_illness', 'allegedly_armed', 'wapo_armed',
       'wapo_threat_level', 'wapo_flee', 'geography', 'encounter_type',
       'initial_reason', 'call_for_service', 'tract',
       'hhincome_median_census_tract', 'latitude', 'longitude',
       'pop_total_census_tract', 'pop_white_census_tract',
       'pop_black_census_tract', 'pop_native_american_census_tract',
       'pop_asian_census_tract', 'pop_pacific_islander_census_tract',
       'pop_other_multiple_census_tract', 'pop_hispanic_census_tract',
       'lat_long', 'month', 'day', 'year']]

In [86]:
ny_joined_df.rename(columns={'GEOIDFQ': 'GEO_ID'}, inplace=True)

In [91]:
ny_census_df = pd.read_csv('merged_result_newyork.csv')

/tmp/ipykernel_177875/1186665232.py:1: DtypeWarning: Columns (2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,58,59,60,61,62,63,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,228,236,244,304,318,352,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1490,1491,1504,1505,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652) have mixed types. Specify dtype option on import or set low_memory=False.
  ny_census_df = pd.read_csv('merged_result_newyork.csv')

In [94]:
ny_census_df = ny_census_df.drop(index=0, axis=0)

In [95]:
col_list = list(ny_census_df.columns[2:-1])

In [96]:
for col in col_list:
    try:
        ny_census_df[col] = ny_census_df[col].astype(float)
    except Exception as e:
        continue

In [99]:
df_new_york_merged = pd.merge(ny_joined_df, ny_census_df, on="GEO_ID")

In [100]:
df_new_york_merged.head()

,GEO_ID,name,age,gender,race,date,street_address,city,state,zip,...,P1_063N,P1_064N,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N,Unnamed: 73
0,1400000US36065021104,Nyah Mway,13.0,Male,Asian,2024-06-28,900 block of Shaw Street,utica,NY,13502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1400000US36065021104,Shatelle Hooks,35.0,Male,Black,2019-01-07,1303 Lincoln Ave,utica,NY,13502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1400000US36081097204,Quayshawn Samuel,31.0,Male,Black,2022-12-29,439 Beach 56th,queens,NY,11692,...,3.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1400000US36055009605,Mark Gaskill,28.0,Male,White,2021-05-14,Glasser St. and Masseth St.,rochester,NY,14606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1400000US36081099200,Zabina Gafoor,52.0,Female,Asian,2023-02-17,Beach Channel Drive and Bay 32nd Street,queens,NY,11691,...,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [101]:
df_new_york_merged.to_csv('merged_data_new_york.csv')