In [12]:
import pandas as pd

In [17]:
ny_final = pd.read_csv('ny_final.csv')
il_final = linear_regression.merger_state("illinois")
ca_final = linear_regression.merger_state("california")

/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,58,59,82,83,124,125,126,127,128,129,154,155,156,157,158,159,214,215,216,217,218,219,232,233,234,235,236,237,250,251,252,253,254,255,268,269,270,271,272,273) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,58,59,82,83,124,125,126,127,128,129,154,155,156,157,158,159,214,215,216,217,218,219,232,233,234,235,236,237,250,251,252,253,254,255,268,269,270,271,272,273) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,58,59,82,83,124,125,128,129,132,133,136,137,140,141,144,145,148,149,152,153,156,157,160,161,164,165,168,169,172,173,176,177,180,181,184,185,188,189,192,193,196,197,200,201,204,205,208,209,212,213,216,217,220,221,224,225,228,229,232,233,236,237,240,241,244,245,248,249,252,253,256,257,260,261,264,265,268,269,272,273,276,277,304,305,308,309,312,313,316,317,320,321,324,325,328,329,332,333,336,337,340,341,344,345,348,349,352,353,356,357,360,361,364,365,368,369,372,373,376,377,380,381,384,385,388,389,392,393,396,397,400,401,404,405,408,409,412,413,416,417,420,421,424,425,428,429,432,433,436,437,440,441,444,445,448,449,452,453,456,457,460,461,464,465,468,469,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,508,509,512,513,516,517,520,521,524,525,528,529,532,533,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,576,577,580,581,584,585,588,589,592,593,596,597,600,601,604,605,608,609,612,613,616,617,620,621,624,625,628,629,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,672,673,676,677,680,681,684,685,688,689,692,693,696,697,700,701,704,705,708,709,712,713,716,717,720,721,724,725,728,729,732,733,736,737,740,741,744,745,748,749,752,753,756,757,760,761,764,765,768,769) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,82,83,86,87,90,91,94,95,98,99,102,103,106,107,110,118,124,125,128,129,132,133,136,137,138,139,140,141,144,145,148,149,150,151,152,153,156,157,160,161,162,163,164,165,168,169,172,173,174,175,176,177,180,181,184,185,188,189,192,193,196,197,198,199,200,201,204,205,206,207,208,209,210,211,212,213,216,217,218,219,220,221,222,223,224,225,228,229,230,231,232,233,234,235,236,237,240,241,242,243,244,245,246,247,248,249,252,253,254,255,256,257,258,259,260,261,264,265,266,267,268,269,270,271,272,273,276,277,278,279,282,283,290,291,294,295,302,303,304,305,308,309,312,313,316,317,320,321,324,325,328,329,332,333,336,337,340,341,344,345,348,349,352,353,354,355,356,357,360,361,362,363,364,365,366,367,368,369,372,373,374,375,376,377,380,381,384,385,388,389,392,393,396,397,400,401,404,405,408,409,412,413,416,417,420,421,424,425,428,429,432,433,436,437,440,441,444,445,448,449,452,453,456,457,460,461,462,463,464,465,468,469,470,471,472,473,474,475,476,477,480,481,482,483,484,485,488,489,492,493,496,497,498,499,500,501,504,505,506,507,508,509,510,511,512,513,516,517,518,519,520,521,524,525,528,529,532,533,536,537,540,541,544,545,548,549,552,553,556,557,560,561,564,565,568,569,572,573,576,577,580,581,584,585,588,589,592,593,596,597,600,601,604,605,608,609,612,613,616,617,620,621,624,625,628,629,632,633,636,637,640,641,644,645,648,649,652,653,656,657,660,661,664,665,668,669,672,673,676,677,680,681,684,685,688,689,692,693,696,697,700,701,704,705,708,709,712,713,716,717,720,721,724,725,728,729,732,733,736,737,740,741,744,745,748,749,752,753,756,757,760,761,764,765,768,769,798,799,806,807) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,148,149,150,151,152,153,154,155,156,157,158,159,160,161,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,374,375,376,377,378,379,380,381,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,410,411,412,413,428,429,430,431,434,435,436,437,484,485,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,922,923,924,925,940,941,942,943,946,947,948,949,996,997) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,86,87,90,91,94,95,98,99,102,103,106,107,110,111,114,115,118,119,122,123,126,127,130,131,134,135,138,139,214,215,218,219,222,223,226,227,230,231,234,235,238,239,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,374,375,378,379,382,383,384,385,388,389,392,393,394,395,398,399,402,403,404,405,408,409,412,413,414,415,418,419,424,425,428,429,432,433,434,435,438,439,440,441,442,443,444,445,448,449,450,451,452,453,454,455,458,459,460,461,462,463,464,465,468,469,470,471,472,473,474,475,478,479,480,481,482,483,484,485,488,489,490,491,492,493,494,495,498,499,500,501,502,503,510,511,512,513,520,521,524,525,528,529,534,535,538,539,544,545,548,549,554,555,558,559,562,563,564,565,568,569,570,571,572,573,574,575,578,579,580,581,584,585,588,589,594,595,598,599,604,605,608,609,614,615,618,619,624,625,628,629,634,635,638,639,644,645,648,649,652,653,654,655,658,659,660,661,662,663,664,665,668,669,670,671,674,675,678,679,682,683,684,685,688,689,690,691,692,693,694,695,698,699,700,701,704,705,708,709,714,715,718,719,724,725,728,729,734,735,738,739,744,745,748,749,754,755,758,759,764,765,768,769,774,775,778,779,784,785,788,789,794,795,798,799,804,805,808,809,814,815,818,819,824,825,828,829,834,835,838,839,844,845,848,849,854,855,858,859,864,865,868,869,874,875,878,879,884,885,888,889,894,895,898,899,904,905,908,909,932,933,940,941) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,148,149,150,151,152,153,154,155,156,157,158,159,160,161,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,374,375,376,377,378,379,380,381,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,410,411,412,413,428,429,430,431,434,435,436,437,484,485,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,886,887,888,889,890,891,892,893,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,922,923,924,925,940,941,942,943,946,947,948,949,996,997) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,110,111,148,149,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,110,111,148,149,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,110,111,148,149,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,110,111,148,149,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (3,4,5,6,7,8,33,34,35,36,37,38,93,94,95,96,97,98,111,112,113,114,115,116,129,130,131,132,133,134,147,148,149,150,151,152,233,234,289,290,313,314) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/linear_regression/linear_regression.py:57: DtypeWarning: Columns (3,4,5,6,7,8,33,34,35,36,37,38,93,94,95,96,97,98,111,112,113,114,115,116,129,130,131,132,133,134,147,148,149,150,151,152,233,234,289,290,313,314) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(census_file_path)

In [18]:
ny_final

,GEO_ID,name,age,gender,race,date,street_address,city,state,zip,...,S1903_C02_028E,S1903_C02_028M,S1903_C01_029E,S1903_C01_029M,S1903_C02_029E,S1903_C02_029M,S1903_C01_030E,S1903_C01_030M,S1903_C02_030E,S1903_C02_030M
0,1400000US36065021104,Nyah Mway,13.0,Male,Asian,2024-06-28,900 block of Shaw Street,utica,NY,13502.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400000US36065021104,Shatelle Hooks,35.0,Male,Black,2019-01-07,1303 Lincoln Ave,utica,NY,13502.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400000US36081097204,Quayshawn Samuel,31.0,Male,Black,2022-12-29,439 Beach 56th,queens,NY,11692.0,...,12.3,11.4,0,13,0.0,5.0,63.0,53,8.1,6.9
3,1400000US36055009605,Mark Gaskill,28.0,Male,White,2021-05-14,Glasser St. and Masseth St.,rochester,NY,14606.0,...,3.5,3.6,7,10,0.9,1.3,337.0,178,41.6,14.8
4,1400000US36081099200,Zabina Gafoor,52.0,Female,Asian,2023-02-17,Beach Channel Drive and Bay 32nd Street,queens,NY,11691.0,...,7.6,7.4,0,13,0.0,4.4,152.0,103,17.3,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,1400000US36119006700,Jarrell Garris,37.0,Male,Black,2023-07-03,465 North Ave,new rochelle,NY,10801.0,...,0.7,1.0,0,19,0.0,2.6,118.0,53,7.7,3.7
315,1400000US36067000700,Sahlah Ridgeway,32.0,Female,Black,2016-02-12,1313 Butternut St,syracuse,NY,13208.0,...,(X),(X),64.3,(X),(X),(X),50.4,(X),(X),(X)
316,1400000US36119010803,Jonathan Maldonado,21.0,Male,Hispanic,2017-11-30,299 N. Central Ave.,hartsdale,NY,10530.0,...,(X),(X),(X),(X),(X),(X),134.0,49,16.2,5.5
317,1400000US36067015500,Kenneth Bennett,61.0,Male,Unknown race,2020-05-26,140 Wilson Drive,manlius,NY,13057.0,...,0.5,0.9,14,20,1.8,2.6,136.0,40,17.3,5.4
318,1400000US36027050104,John Terzani,40.0,Male,White,2013-08-20,Carpenter Road and the Taconic State Parkway,hopewell junction,NY,12533.0,...,(X),(X),27.3,(X),(X),(X),50.2,(X),(X),(X)

In [9]:
ca_final

,GEO_ID,name,age,gender,race,date,street_address,city,state,zip,...,S1903_C03_036M,S1903_C03_037E,S1903_C03_037M,S1903_C03_038E,S1903_C03_038M,S1903_C03_039E,S1903_C03_039M,S1903_C03_040E,S1903_C03_040M,Unnamed: 242
0,1400000US06105000500,Shirley Jean Peeler,51.0,Female,Unknown race,2013-06-04,Highway 36 and Mad River Road,mad river,CA,95552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400000US06087100801,Jeremy Goulet,35.0,Male,White,2013-02-26,800 N Branciforte Ave,santa cruz,CA,95062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400000US06037231601,Patrick Othro Sullivan,74.0,Male,Black,2013-08-20,4081 Normandie Ave,los angeles,CA,90037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1400000US06047002203,Sonny Lam,43.0,Male,Asian,2013-09-02,619 Vine St,los banos,CA,93635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400000US06037481001,Khan Tony Nim,35.0,Male,Asian,2013-05-17,211 S 1st St.,alhambra,CA,91801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,1400000US06065041408,Ryan Joseph Smith,26.0,Male,Black,2023-12-06,3600 block of Banbury Drive,riverside,CA,92505,...,34022,117381,69292,50625,3657,50227,11184,88375,53335,NaN
1901,1400000US06083002008,Jose Manuel Reyes Rios,19.0,Male,Hispanic,2023-03-25,130 E. Foster Road,orcutt,CA,93455,...,43053,-,**,-,**,-,**,-,**,NaN
1902,1400000US06083002703,Connor Jeffrey Amador,20.0,Male,White,2023-12-29,1421 E Ocean Avenue,lompoc,CA,93436,...,9509,-,**,55030,24356,43387,17194,-,**,NaN
1903,1400000US06019004212,"Maximiliano ""Max"" Sosa Jr",33.0,Male,Hispanic,2023-11-04,5555 N Dante Ave,fresno,CA,93722,...,21831,86007,40215,91411,47882,-,**,135267,41045,NaN
1904,1400000US06059001301,Austin Heiselman,48.0,Male,White,2023-02-10,South Beach Blvd. and West Imperial Highway,la habra,CA,90631,...,36166,114960,9005,-,**,-,**,157330,103232,NaN

In [10]:
il_final

,GEO_ID,name,age,gender,race,date,street_address,city,state,zip,...,S1903_C03_036M,S1903_C03_037E,S1903_C03_037M,S1903_C03_038E,S1903_C03_038M,S1903_C03_039E,S1903_C03_039M,S1903_C03_040E,S1903_C03_040M,Unnamed: 242
0,1400000US17111870104,Tony Starnes,45.0,Male,Unknown race,2013-05-10,10910 North Main Street,richmond,IL,60071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400000US17031803017,Eric M. Anderson,41.0,Male,White,2013-12-13,1900 N Windham Ct,arlington heights,IL,60004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400000US17113005104,Stephen P. Bethea,53.0,Male,White,2013-03-13,8 Melrose Court,bloomington,IL,61704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1400000US17031834500,Christian Green,17.0,Male,Black,2013-07-04,5600 S State St,chicago,IL,60621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400000US17031681000,Michael Westley,15.0,Male,Black,2013-06-16,6600 S Sangamon St,chicago,IL,60621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,1400000US17121952400,Todd Pearce,30.0,Male,White,2023-10-17,500 block of Meadowbrook Lane,centralia,IL,62801,...,10694,-,**,50216,20035,42065,16312,108472,37456,NaN
291,1400000US17097861201,Brandon Barry,22.0,Male,White,2023-10-25,2000 block of Redwood Dr.,round lake beach,IL,60073,...,2904,-,**,-,**,-,**,-,**,NaN
292,1400000US17197881603,Jamal Smith,31.0,Male,Black,2023-04-11,900 block of Lois Place,joliet,IL,60435,...,9096,-,**,46328,22041,45469,22218,-,**,NaN
293,1400000US17037001500,Graciela Reza-Contreras,59.0,Female,Hispanic,2023-11-05,1200 block of S Seventh St,dekalb,IL,60115,...,10430,65875,26036,58500,26764,58100,27506,104167,93552,NaN
294,1400000US17175951400,Rodney G. Williams,66.0,Male,White,2023-02-18,500 block of N. Olive St.,toulon,IL,61483,...,8635,60714,37251,39583,9048,35625,8395,76250,21985,NaN

In [25]:
cd census_2013/

[Errno 2] No such file or directory: 'census_2013/'
/Users/river/Desktop/MACS-30100/macs-30100-police-proj/census_2013

In [22]:
ca_race = pd.read_csv('california_race.csv')
ca_prev = pd.read_csv('california_census_2013.csv')
ca_2013 = ca_prev.merge(ca_race, on="GEO_ID")
ca_2013.to_csv('ca_2013.csv', index=False)

/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_32911/1526371021.py:1: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_race = pd.read_csv('california_race.csv')
/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_32911/1526371021.py:2: DtypeWarning: Columns (3,4,5,6,7,8,33,34,35,36,37,38,93,94,95,96,97,98,111,112,113,114,115,116,129,130,131,132,133,134,147,148,149,150,151,152,233,234,289,290,313,314) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_prev = pd.read_csv('california_census_2013.csv')

In [23]:
il_race = pd.read_csv('illinois_race.csv')
il_prev = pd.read_csv('illinois_census_2013.csv')
il_2013 = il_prev.merge(il_race, on="GEO_ID")
il_2013.to_csv('il_2013.csv', index=False)

/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_32911/2513833859.py:1: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types. Specify dtype option on import or set low_memory=False.
  il_race = pd.read_csv('illinois_race.csv')
/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_32911/2513833859.py:2: DtypeWarning: Columns (2,3,58,59,82,83,124,125,126,127,128,129,154,155,156,157,158,159,214,215,216,217,218,219,232,233,234,235,236,237,250,251,252,253,254,255,268,269,270,271,272,273) have mixed types. Specify dtype option on import or set low_memory=False.
  il_prev = pd.read_csv('illinois_census_2013.csv')

In [26]:
ny_education

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C02_001E,S1501_C02_001M,S1501_C03_001E,S1501_C03_001M,S1501_C01_002E,S1501_C01_002M,...,S1501_C02_037M,S1501_C03_037E,S1501_C03_037M,S1501_C01_038E,S1501_C01_038M,S1501_C02_038E,S1501_C02_038M,S1501_C03_038E,S1501_C03_038M,Unnamed: 230
0,Geography,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Male!!Estimate!!Population 18 to 24 years,Male!!Margin of Error!!Population 18 to 24 years,Female!!Estimate!!Population 18 to 24 years,Female!!Margin of Error!!Population 18 to 24 y...,Total!!Estimate!!Less than high school graduate,Total!!Margin of Error!!Less than high school ...,...,Male!!Margin of Error!!MEDIAN EARNINGS IN THE ...,Female!!Estimate!!MEDIAN EARNINGS IN THE PAST ...,Female!!Margin of Error!!MEDIAN EARNINGS IN TH...,Total!!Estimate!!PERCENT IMPUTED!!Educational ...,Total!!Margin of Error!!PERCENT IMPUTED!!Educa...,Male!!Estimate!!PERCENT IMPUTED!!Educational a...,Male!!Margin of Error!!PERCENT IMPUTED!!Educat...,Female!!Estimate!!PERCENT IMPUTED!!Educational...,Female!!Margin of Error!!PERCENT IMPUTED!!Educ...,NaN
1,1400000US36001000100,"Census Tract 1, Albany County, New York",238,148,105,74,133,128,16.8,15.7,...,**,48431,808,12.3,(X),(X),(X),(X),(X),NaN
2,1400000US36001000200,"Census Tract 2, Albany County, New York",789,231,433,166,356,148,24.7,13.6,...,**,104750,61511,1.2,(X),(X),(X),(X),(X),NaN
3,1400000US36001000300,"Census Tract 3, Albany County, New York",696,237,473,192,223,145,15.2,12.9,...,20879,50524,23286,2.9,(X),(X),(X),(X),(X),NaN
4,1400000US36001000401,"Census Tract 4.01, Albany County, New York",92,71,63,54,29,43,29.3,35.7,...,50827,48750,9888,7.7,(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4914,1400000US36123150100,"Census Tract 1501, Yates County, New York",531,121,261,75,270,83,18.8,11.8,...,43055,44800,12837,5.7,(X),(X),(X),(X),(X),NaN
4915,1400000US36123150200,"Census Tract 1502, Yates County, New York",451,125,245,78,206,76,30.6,12.9,...,37985,50750,13435,3.1,(X),(X),(X),(X),(X),NaN
4916,1400000US36123150300,"Census Tract 1503, Yates County, New York",430,134,194,68,236,91,15.3,6.1,...,43847,51683,1753,2.3,(X),(X),(X),(X),(X),NaN
4917,1400000US36123150400,"Census Tract 1504, Yates County, New York",1069,208,435,102,634,154,6.0,6.0,...,19439,53333,13962,0.6,(X),(X),(X),(X),(X),NaN
4918,1400000US36123150500,"Census Tract 1505, Yates County, New York",307,81,143,46,164,67,37.5,15.5,...,42094,62500,24925,5.0,(X),(X),(X),(X),(X),NaN

In [27]:
ny_race = pd.read_csv('new_york_race.csv')
ny_income = pd.read_csv('new_york_income.csv')
ny_education = pd.read_csv('new_york_education.csv')
ny_prev = ny_income.merge(ny_education, on="GEO_ID")
ny_2013 = ny_prev.merge(ny_race, on="GEO_ID")
ny_2013.to_csv('ny_2013.csv', index=False)

/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_32911/1466844372.py:1: DtypeWarning: Columns (2,3,4,6,7,10,11,14,15,18,19,22,23,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,70,71,74,75,78,79,82,83,86,87,88,90,91,94,95,98,99,100,102,103,106,107,110,111,112,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,146,147,150,151,154,155,158,159,162,163,166,167,170,171,174,175,178,179,182,183,186,187,190,191,194,195,198,199,202,203,206,207,210,211,214,215,218,219,222,223,226,227,230,231,232,234,235,238,239,242,243,246,247,250,251,254,255,258,259,260,262,263,266,267,270,271,274,275,278,279,282,283,286,287,290,291,294,295,298,299,302,303,306,307,310,311,314,315,318,319,322,323) have mixed types. Specify dtype option on import or set low_memory=False.
  ny_race = pd.read_csv('new_york_race.csv')
/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_32911/1466844372.py:3: DtypeWarning: Columns (2,3,4,5,6,7,32,33,34,35,36,37,92,93,94,95,96,97,110,111,112,113,114,115,128,129,130,131,132,133,146,147,148,149,150,151) have mixed types. Specify dtype option on import or set low_memory=False.
  ny_education = pd.read_csv('new_york_education.csv')

In [5]:
cd '/Users/river/Desktop/MACS-30100/macs-30100-police-proj/'

/Users/river/Desktop/MACS-30100/macs-30100-police-proj

In [8]:
import acs_merge_police

In [9]:
cd '/Users/river/Desktop/MACS-30100/macs-30100-police-proj/census_2013'

/Users/river/Desktop/MACS-30100/macs-30100-police-proj/census_2013

In [13]:
ny_2013 = pd.read_csv('ny_2013.csv')
il_2013 = pd.read_csv('il_2013.csv')
ca_2013 = pd.read_csv('ca_2013.csv')

/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_36010/1793219.py:1: DtypeWarning: Columns (2,3,58,59,82,83,124,125,126,127,128,129,154,155,156,157,158,159,214,215,216,217,218,219,232,233,234,235,236,237,250,251,252,253,254,255,268,269,270,271,272,273,354,355,356,358,359,362,363,366,367,370,371,374,375,378,379,382,383,386,387,390,391,394,395,398,399,402,403,406,407,410,411,414,415,422,423,426,427,430,431,434,435,438,439,440,442,443,446,447,450,451,452,454,455,458,459,462,463,464,466,467,470,471,474,475,478,479,482,483,486,487,490,491,494,495,498,499,502,503,506,507,510,511,514,515,518,519,522,523,526,527,530,531,534,535,538,539,542,543,546,547,550,551,554,555,558,559,562,563,566,567,570,571,574,575,578,579,582,583,584,586,587,590,591,594,595,598,599,602,603,606,607,610,611,612,614,615,618,619,622,623,626,627,630,631,634,635,638,639,642,643,646,647,650,651,654,655,658,659,662,663,666,667,670,671,674,675) have mixed types. Specify dtype option on import or set low_memory=False.
  ny_2013 = pd.read_csv('ny_2013.csv')
/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_36010/1793219.py:2: DtypeWarning: Columns (2,3,58,59,82,83,124,125,126,127,128,129,154,155,156,157,158,159,214,215,216,217,218,219,232,233,234,235,236,237,250,251,252,253,254,255,268,269,270,271,272,273,354,355,356,358,359,362,363,366,367,370,371,374,375,378,379,382,383,386,387,390,391,394,395,398,399,402,403,406,407,410,411,414,415,422,423,426,427,430,431,434,435,438,439,440,442,443,446,447,450,451,452,454,455,458,459,462,463,464,466,467,470,471,474,475,478,479,482,483,486,487,490,491,494,495,498,499,502,503,506,507,510,511,514,515,518,519,522,523,526,527,530,531,534,535,538,539,542,543,546,547,550,551,554,555,558,559,562,563,566,567,570,571,574,575,578,579,582,583,584,586,587,590,591,594,595,598,599,602,603,606,607,610,611,612,614,615,618,619,622,623,626,627,630,631,634,635,638,639,642,643,646,647,650,651,654,655,658,659,662,663,666,667,670,671,674,675) have mixed types. Specify dtype option on import or set low_memory=False.
  il_2013 = pd.read_csv('il_2013.csv')
/var/folders/6l/cmpq4f_96xv7_3p8k362lbnr0000gn/T/ipykernel_36010/1793219.py:3: DtypeWarning: Columns (3,4,5,6,7,8,9,10,15,16,21,22,27,28,33,34,35,36,37,38,39,40,41,42,45,46,47,48,51,52,53,54,57,58,59,60,63,64,65,66,69,70,71,72,75,76,77,78,81,82,83,84,87,88,89,90,93,94,95,96,97,98,99,100,101,102,105,106,107,108,111,112,113,114,115,116,117,118,123,124,129,130,131,132,133,134,135,136,137,138,141,142,143,144,147,148,149,150,151,152,189,190,191,192,225,233,234,289,290,313,314,355,356,357,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,443,444,445,446,447,448,449,450,451,452,453,455,456,459,460,463,464,465,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_2013 = pd.read_csv('ca_2013.csv')

In [14]:
cd ..

/Users/river/Desktop/MACS-30100/macs-30100-police-proj

In [ ]:
geo_df_ny = acs_merge_police.tract_merger('/Users/river/Desktop/MACS-30100/macs-30100-police-proj/police_data.csv', '/Users/river/Desktop/MACS-30100/macs-30100-police-proj/new_york_shapefiles')
df_ny = acs_merge_police.attr_merger(geo_df_ny, '/Users/river/Desktop/MACS-30100/macs-30100-police-proj/census_2013/ny_2013.csv', ['Bronx County', 'Kings County', 'New York County', 'Queens County', 'Richmond County'])

In [ ]:
geo_df_ca = acs_merge_police.tract_merger('/Users/river/Desktop/MACS-30100/macs-30100-police-proj/police_data.csv', '/Users/river/Desktop/MACS-30100/macs-30100-police-proj/california_shapefiles')
df_ca = acs_merge_police.attr_merger(geo_df_ca, '/Users/river/Desktop/MACS-30100/macs-30100-police-proj/census_2013/ca_2013.csv', ['Bronx County', 'Kings County', 'New York County', 'Queens County', 'Richmond County'])